body {
  font: 24px 'Century Gothic', Futura, sans-serif;
  margin: 30px;
  background-color: cornflowerblue;
}

ol,
ul {
  padding-left: 40px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #FF6037;
  border: 2px solid black;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 104px;
  height: 124px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 124px;
}

.square--green {
  /* This is what the color changes to when the row has been won */
  background: #FFCC33;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.button {
  background-color: #FF6037;
  border: none;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.button--green {
  /* button green basically means the buttons containing text that control the game moves */
  background-color: #FF6037;
  color: #000;
  font-weight: bold;
}


/* REACT/REDUX CSS: */

.game {
  text-align: center;
  justify-content: center;
}

.tiles {
  display: grid;
  grid-template-columns: 130px 130px 130px 130px;
  grid-template-rows: 130px 130px 130px 130px;
  justify-content: center;
}

.tile {
  border: solid black 1px;
  border-radius: 10%;
  padding: 10px;
  align-content: center;
  font-size: 80px;
  font-family: 'Symbola';
  height: 100px;
  width: 100px;
}




/* MARQUEE CSS - SCROLLING text */

.marqueeheader {
  height: 50px;	
  overflow: hidden;
  position: relative;
 }

 .marqueeheader h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;

  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);	
  transform:translateX(100%);

  /* Apply animation to this element */	
  -moz-animation: example1 15s linear infinite;
  -webkit-animation: example1 15s linear infinite;
  animation: example1 15s linear infinite;
 }

 /* Move it (define the animation) */
 @-moz-keyframes example1 {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
 }

 @-webkit-keyframes example1 {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
 }

 @keyframes example1 {
  0%   { 
  -moz-transform: translateX(100%); /* Firefox bug fix */
  -webkit-transform: translateX(100%); /* Firefox bug fix */
  transform: translateX(100%); 		
  }

  100% { 
  -moz-transform: translateX(-100%); /* Firefox bug fix */
  -webkit-transform: translateX(-100%); /* Firefox bug fix */
  transform: translateX(-100%); 
  }
 }