body {
  font: 24px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
  background-color: cornflowerblue;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #FF6037;
  border: 2px solid black;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 54px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 54px;
}

.square--green {
  /* This is what the color changes to when the row has been won */
  background:#FFFF00;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.button {
  background-color: #FF6037;
  border: none;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.button--green {  
  /* button green basically means the buttons containing text that control the game moves */
  background-color: #FF6037;
  color: #000;
  font-weight: bold;
}



/* REACT/REDUX CSS: */



.game {
  text-align: center;
  justify-content: center;
}

.tiles {
  display: grid;
  grid-template-columns: 130px 130px 130px 130px;
  grid-template-rows: 130px 130px 130px 130px;
  justify-content: center;
}

.tile {
  border: solid black 1px;
  border-radius: 10%;
  padding: 10px;
  align-content: center;
  font-size: 80px;
  font-family: 'Symbola';
  height: 100px;
  width: 100px;
}